# Dependencies
node_modules/
**/node_modules/

# Env files
.env
**/*.env

# Logs
*.log

# Build artifacts
dist/
build/

# FaceAPI models (too large for GitHub)
models/

# DLLs (if you have Windows build artifacts or extra libs)
*.dll
config/credentials.json
registration-portal/config/credentials.json.json